<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <title th:text="${title}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <h1> New user registration! </h1>
    <form action="/addUser" enctype="multipart/form-data" method="post">
        <p><input type="file" name="image" multiple accept="image/*,image/jpeg,image/png">
            <input type="text" name="username" placeholder="Введите ваше имя">
            <input type="password" name="password" placeholder="Введите ваш пароль">
            <input type="email" name="email" placeholder="Введите ваш email">
            <input type="submit" value="Отправить"></p>
    </form>
</body>
</html>